@model ajax.Models.EmployeeModel

@{
    Layout = null;
}
@using ajax.Models;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

</head>
<body>
    <div class="container text-center">
        <form id="myForm" style="width:40%;font-size:20px; margin-top:10px;">
            @Html.DropDownListFor(model => model.DepartmentId, ViewBag.DepartmentList as SelectList, "--select--", new { @class = "form-control", @id = "drop_ID" })

            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Name" })

            @Html.TextBoxFor(model => model.Address, new { @class = "form-control", @placeholder = "Address" })

            @Html.TextBoxFor(model => model.SiteName, new { @class = "form-control", @placeholder = "SiteName" })

            <input type="reset" value="Submit" class="btn btn-block btn-primary " id="btnSubmit" />
        </form>

        @Ajax.ActionLink("Load lại sản phẩm.", "getListEmp", new AjaxOptions
                {
               UpdateTargetId = "tblEmployee",
               InsertionMode = InsertionMode.Replace,
               HttpMethod = "GET"
           })
        <div id="div_1">

            <table class="table table-bordered table-striped table-responsive table-hover">
                <thead>
                    <tr>
                        <th align="center">ID</th>
                        <th align="center">Employee Name</th>
                        <th align="center">Department Id</th>
                        <th align="center">Address</th>
                    </tr>
                </thead>
                <tbody id="tblEmployee">
                    @{
                        @*MVCTutorialEntities db = new MVCTutorialEntities();
                        foreach (var item in db.Employees)
                        {
                            <tr>
                                <td>@item.EmployeeId</td>
                                <td>@item.Name</td>
                                <td>@item.DepartmentId</td>
                                <td>@item.Address</td>
                            </tr>*@
                        }
                    @*}*@
                </tbody>
            </table>
        </div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script>
        $(document).ready(function () {
            var level;
            $("#drop_ID").on('change', function () {
                level = $(this).val();
                $("table tr").each(function (Employees) {
                    if (Employees !== 0) {
                        var id = $(this).find("td:nth-child(3)").text();
                        if (id.indexOf(level) !== 0) {
                            $(this).hide();
                        }
                        else {
                            $(this).show();
                        }
                    }
                })

                return false;
            })
            $("#btnSubmit").click(function () {

                var employee = new Object();
                employee.Name = $("#Name").val();
                
                employee.Address = $("#Address").val();
                employee.sitename = $("#SiteName").val();
                employee.DepartmentId = $("#drop_ID").val()
                $.ajax({

                    type: "POST",
                    url: "/Employee/Index",
                    data: JSON.stringify(employee),
                    contentType: "application/json; charset=utf-8",
                    dataType:'json',
                    success: function (response) {
                        if (response != null) {
                            //alert("Name : " + response.Name + ", Designation : " + response.Designation + ", Location :" + response.Location);
                            //var emp = $("table tbody ");
                            //console.log(employee);
                            //emp.append("<tr>" +
                            //    "<td>" + response.EmployeeId + "</td>" +
                            //    "<td>" + response.Name + "</td>" +
                            //    "<td>" + response.DepartmentId + "</td>" +
                            //    "<td>" + response.Address + "</td>" +
                            //    + "</tr>")
                            alert("you are done");
                            $("div_1").load('@Url.Content("/Employee/getListEmp")')
                            //LoadData()
                        } else {
                            alert("Something went wrong");
                        }
                    }

                })
            })
            function LoadData() {
                $.ajax({
                    type: 'GET',
                    url: '/Employee/Index',
                    dataType: 'json',
                    data: {},
                    success: function (data) {
                        //$("table tbody ").remove();
                        //$.each(data, function (i, item) {
                        //    var rows = "<tr>"
                        //    "<td>" + item.EmployeeId + "</td>" +
                        //        "<td>" + item.Name + "</td>" +
                        //        "<td>" + item.DepartmentId + "</td>" +
                        //        "<td>" + item.Address + "</td>" +
                        //        + "</tr>";
                        //    $('table tbody').append(rows);
                        //});
                        var emp = $("table tbody ");
                        //emp.empty();
                        //$.each(data, function (i, item) {
                            var rows = "<tr>"
                            "<td>" + data.EmployeeId + "</td>" +
                                "<td>" + data.Name + "</td>" +
                                "<td>" + data.DepartmentId + "</td>" +
                                "<td>" + data.Address + "</td>" +
                                + "</tr>";
                            $('table tbody').append(rows);
Url                       //});
                    },
                    error: function (ex) {
                        var r = jQuery.parseJSON(response.responseText);
                        alert("Message: " + r.Message);
                        alert("StackTrace: " + r.StackTrace);
                        alert("ExceptionType: " + r.ExceptionType);
                    }
                });
                return false;
            }
        });
    </script>
</body>
</html>
                @*$.ajax({
                    type: 'GET',
                    url: '/Employee/GetEmployees',
                    dataType = 'JSON',
                    data: {},
                    success: function (data) {
                        $("#tblEmployee tbody").empty();
                        $.each(data, function (i, item) {
                            var rows = "<tr>"
                            "<td>" + item.EmployeeId + "</td>" +
                                "<td>" + item.Name + "</td>" +
                                "<td>" + item.DepartmentId + "</td>" +
                                "<td>" + item.Address + "</td>" +
                                + "</tr>";
                            $.("#tblEmployee tbody").append(rows);
                        })
                    }, error: function (data) { }
                })*@